<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/licor/{{ tipoLicor }}"></ion-back-button>
      <ion-title>AGREGAR</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content fullscreen>
    <form [formGroup]="form">
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="stacked">Nombre <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" formControlName="nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Descripcion <ion-text color="danger">*</ion-text></ion-label>
          <ion-textarea required type="text" formControlName="descripcion"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">URL imagen <ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" formControlName="url"></ion-input>
        </ion-item>
        
      </ion-list>
    </form>

    <div class="ion-padding">
      <ion-button expand="block" class="ion-no-margin" color="success" (click)="agregarLicor()">Agregar</ion-button>
    </div>
  </ion-content>
</ion-app>