  <ion-header translucent>
    <ion-toolbar>
      <ion-back-button slot="start" defaultHref="/licor/{{ licorActual.tipo }}"></ion-back-button>
      <ion-title>Detalle</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ licorActual.nombre }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-img [src]= "licorActual.imagen"></ion-img>
      <div classs="content">{{ licorActual.descripcion }}</div>
    </ion-card-content>    
  </ion-card>

  <ion-button shape="round" color="danger" (click)="borrarLicor()"><ion-icon name="trash"></ion-icon></ion-button>
</ion-content>
