<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CATALOGO DE LICORES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-background-page">
  <ion-card [routerLink]="['/licor/whiskey']">
    <img src="https://www.sciencemag.org/sites/default/files/styles/article_main_large/public/iStock-533225488_16x9.jpg?itok=2HUFc6Ct"/>
    <div class="card-title-1">Whiskeys</div>
    <div class="card-subtitle-1">{{ this.servicio.getCantidad("whiskey") }} disponibles</div>
  </ion-card>

  <ion-card [routerLink]="['/licor/ron']">
    <img src="https://www.prensalibre.com/wp-content/uploads/2019/10/BACARD%C3%AC-Premium-Portfolio.jpg?quality=82&w=760&h=430&crop=1"/>
    <div class="card-title-1">Rones</div>
    <div class="card-subtitle-1">{{ this.servicio.getCantidad("ron") }} disponibles</div>
  </ion-card>

  <ion-card [routerLink]="['/licor/vodka']">
    <img src="https://www.bottledprices.com/wp-content/uploads/2018/09/vodka_banner-1024x512.jpg"/>
    <div class="card-title-2">Vodkas</div>
    <div class="card-subtitle-2">{{ this.servicio.getCantidad("vodka") }} disponibles</div>
  </ion-card>
</ion-content>
