<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-title>{{ tipoLicor.toUpperCase() }}</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar (ionInput)="filterList($event)"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" [routerLink]="['/agregar', tipoLicor]">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-list>
      <ion-item *ngFor="let licor of licores" [routerLink]="['/detalles', licor.id]">
        <ion-thumbnail slot="start">
          <ion-img [src]= "licor.imagen"></ion-img>
        </ion-thumbnail>
        <ion-label>{{ licor.nombre }}</ion-label>
      </ion-item>
    </ion-list>
    <section>
      <ion-button expand="block" [routerLink]="['/home']">Regresar</ion-button>
    </section>
  </ion-content>
</ion-app>